In [1]:
import psycopg2
import pandas as pd

In [2]:
dbname = 'podcast'
username = 'lindsay'

In [3]:
podcastDf = pd.read_pickle('pkl/clean_podcast_data.pkl')

In [4]:
con = psycopg2.connect(database = dbname, user = username)

In [6]:
cursor = con.cursor()

In [7]:
thisPod = podcastDf.iloc[0]
thisPod

artist_id                                                                  NaN
artist_name                                     David Chen and Joanna Robinson
artist_view_url                                                            NaN
artwork_url100               http://is1.mzstatic.com/image/thumb/Music/v4/0...
artwork_url30                http://is1.mzstatic.com/image/thumb/Music/v4/0...
artwork_url60                http://is1.mzstatic.com/image/thumb/Music/v4/0...
artwork_url600               http://is1.mzstatic.com/image/thumb/Music/v4/0...
collection_censored_name           A Cast of Kings - A Game of Thrones Podcast
collection_explicitness                                               explicit
collection_hd_price                                                          0
collection_id                                                        515836681
collection_name                    A Cast of Kings - A Game of Thrones Podcast
collection_price                                                             0
collection_view_url          https://itunes.apple.com/us/podcast/cast-kings...
content_advisory_rating                                               Explicit
country                                                                    USA
currency                                                                   USD
feed_url                               http://feeds.feedburner.com/castofkings
genre_ids                                                           [1309, 26]
genres                                                   [TV & Film, Podcasts]
id                                                                          12
kind                                                                   podcast
primary_genre_name                                                   TV & Film
radio_station_url              https://itunes.apple.com/station/idra.515836681
release_date                                              2015-12-10T08:34:00Z
track_censored_name                A Cast of Kings - A Game of Thrones Podcast
track_count                                                                 20
track_explicitness                                                    explicit
track_hd_price                                                               0
track_hd_rental_price                                                        0
track_id                                                           5.15837e+08
track_name                         A Cast of Kings - A Game of Thrones Podcast
track_price                                                                  0
track_rental_price                                                           0
track_view_url               https://itunes.apple.com/us/podcast/cast-kings...
wrapper_type                                                             track
also_subscribed              [508647267, 544599736, 435853369, 515824283, 2...
podcast_summary              A quasiweekly discussion of the plots themes a...
language                                                               English
clean_episode_description    [In this episode of A Cast of Kings Joanna and...
clean_episode_name           [A Cast of Kings  Fire and Blood,  A Cast of K...
Name: 0, dtype: object

In [71]:
del podcastDf['id']
del podcastDf['artist_id']
del podcastDf['genre_ids']

In [73]:
# insert podcast data into podcast table
query = "INSERT INTO podcast (artwork_url30, artwork_url60, artwork_url100, artwork_url600, explicit, name, view_url, summary) VALUES (%s, %s, %s, %s, %s, %s, %s, %s) RETURNING id;"
podcast_id = []
for ind, thisPod in podcastDf.iterrows():
    data = (thisPod['artwork_url30'], thisPod['artwork_url60'], thisPod['artwork_url100'], thisPod['artwork_url600'], thisPod['content_advisory_rating'], thisPod['collection_censored_name'], thisPod['collection_view_url'], thisPod['podcast_summary'])
    cursor.execute(query, data)
    podcast_id.append(cursor.fetchone()[0])
    
con.commit()
podcastDf['podcast_id'] = podcast_id

In [18]:
# get unique artists
artistDf = podcastDf[['artist_name', 'artist_view_url']]
artistDf = artistDf.drop_duplicates()
artistDf.shape

(4863, 2)

In [74]:
# insert artist data into artist table
query = "INSERT INTO artist (view_url, name) VALUES (%s, %s) RETURNING id;"
artist_id = []
for ind, row in artistDf.iterrows():
    data = (row['artist_view_url'], row['artist_name'])
    cursor.execute(query, data)
    artist_id.append(cursor.fetchone()[0])
con.commit()
artistDf['artist_id'] = artist_id

In [48]:
# get unique genres
genreDf = podcastDf['genres']
genreList = []
for row in genreDf:
    for genre in row:
        genreList.append(genre)
genreList = list(set(genreList))

In [76]:
# insert genre data into genre table
query = "INSERT INTO genre (name) VALUES (%s) RETURNING id;"
genre_id = []
for item in genreList:
    data = (item, )
    cursor.execute(query, data)
    genre_id.append(cursor.fetchone()[0])
con.commit()
genreDf = pd.DataFrame({'name' : genreList,
                       'genre_id': genre_id})

In [77]:
genreDf

    genre_id                        name
0        137                        Arts
1        138                  Philosophy
2        139                   Tech News
3        140           Personal Journals
4        141                  Podcasting
5        142             Games & Hobbies
6        143          Science & Medicine
7        144             Performing Arts
8        145         Sports & Recreation
9        146                   TV & Film
10       147                     Judaism
11       148                Spirituality
12       149               Kids & Family
13       150                       Other
14       151                      Health
15       152      Educational Technology
16       153                    Medicine
17       154      Management & Marketing
18       155                    Hinduism
19       156     Religion & Spirituality
20       157                       Local
21       158             Social Sciences
22       159                     Careers
23       160         Fitness & Nutrition
24       161                  Literature
25       162                    Shopping
26       163                    Business
27       164                        Food
28       165                  Automotive
29       166                 Video Games
..       ...                         ...
38       175            Higher Education
39       176            Natural Sciences
40       177  Government & Organizations
41       178               Business News
42       179                        K-12
43       180          Alternative Health
44       181             News & Politics
45       182             Places & Travel
46       183                   Sexuality
47       184                 Other Games
48       185                   Self-Help
49       186                     Amateur
50       187                Professional
51       188                Christianity
52       189                     History
53       190                      Comedy
54       191                 Visual Arts
55       192            Fashion & Beauty
56       193                     Outdoor
57       194           Society & Culture
58       195                    National
59       196                    Buddhism
60       197                     Gadgets
61       198                      Design
62       199                    Podcasts
63       200                     Hobbies
64       201                       Music
65       202                   Education
66       203                  Technology
67       204                       Islam

[68 rows x 2 columns]